<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v='1.0.0') }}">
  <title>Testing TailwindCSS & HTMX</title>
  <script src="{{ url_for('static', filename='htmx.min.js', v='1.9.6') }}"></script>
</head>

<body class="bg-indigo-200 dark:bg-indigo-800 text-indigo-800 dark:text-indigo-200">
  <header class="h-16 sticky top-0 z-10 bg-indigo-400 dark:bg-indigo-950 shadow-md">
      <a href="/">
        <div id="page-icon" class="absolute left-2 top-2">
          <img src="{{ url_for('static', filename='img/tux.svg') }}" class="h-12 w-12 float-left" />
          <span class="text-xl font-medium h-12 py-2 pl-3 inline-block">Testing TailwindCSS & HTMX</span>
        </div>
      </a>

    <nav id="nav-container" class="p-2 flex flex-col items-end">
      <div class="flex flex-row">
        <!-- source: https://www.freecodecamp.org/news/how-to-build-a-dark-mode-switcher-with-tailwind-css-and-flowbite/ -->
        <button id="theme-toggle" type="button" class="hover:bg-indigo-300 dark:hover:bg-indigo-900 focus:outline-none rounded-lg h-12 w-12 p-2 group">
          <svg id="theme-toggle-dark-icon" class="ml-1 w-6 h-6 hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
          </svg>
          <svg id="theme-toggle-light-icon" class="ml-1 w-6 h-6 hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
          </svg>
        </button>

        <div id="nav-icon" class="h-12 w-12 p-2 group md:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-full w-full group-hover:fill-blue-500">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
        </div>

        <ul id="nav-menu" class="hidden absolute md:relative p-2 md:p-3 my-12 md:my-0 text-base md:text-xl space-x-2 md:space-x-6 space-y-2 md:space-y-0 shadow-md md:shadow-none rounded-md md:rounded-none bg-indigo-400 dark:bg-indigo-950 h-max md:h-12 md:flex md:flex-row items-center right-0 justify-end font-semibold text-right">
          <li class="dark:hover:text-indigo-400 hover:text-indigo-950"><a href="/">Item One</a></li>
          <li class="dark:hover:text-indigo-400 hover:text-indigo-950"><a href="/">Item Two</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="flex flex-row p-4">
    <div class="fixed z-60 shadow-md rounded-md bg-indigo-400 dark:bg-indigo-950 lg:border-r lg:border-indigo-900/10 dark:border-indigo-50[0.06] m-4 p-4 w-72 h-min hidden md:block flex-none">
      <ul class="py-2 pl-2">
        <li class="pb-2 dark:hover:text-indigo-400 hover:text-indigo-950" hx-get="/content/initial_content/r" hx-push-url="/content/initial_content" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Initial content</li>
        <li class="pb-2 dark:hover:text-indigo-400 hover:text-indigo-950" hx-get="/content/lorem_ipsum/r" hx-push-url="/content/lorem_ipsum" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Lorem Ipsum</li>
        <li class="pb-2 dark:hover:text-indigo-400 hover:text-indigo-950" hx-get="/content/mussum_ipsum/r" hx-push-url="/content/mussum_ipsum" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Mussum Ipsum</li>
      </ul>
    </div>

    <div class="flex-1">
      <article class="py-3 pr-3 w-full pl-0 md:pl-80">
        <div id="content" class="tracking-wide space-y-5" hx-get="/content/{{ content }}/r" hx-trigger="load" hx-swap="innerHTML"></div>
      </article>
    </div>
  </div>

  <script src="{{ url_for('static', filename='main.js', v='1.0.0') }}"></script>
</body>
</html>
